#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Shift {
            bindings = <&skq LEFT_SHIFT>;
            key-positions = <13 12>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        Ctrl {
            bindings = <&skq LCTRL>;
            key-positions = <12 11>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        Alt {
            bindings = <&skq LEFT_ALT>;
            key-positions = <11 10>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        Mod {
            bindings = <&skq LEFT_GUI>;
            key-positions = <22 23>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        r_Alt {
            bindings = <&skq LEFT_ALT>;
            key-positions = <16 17>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        r_Ctrl {
            bindings = <&skq LCTRL>;
            key-positions = <17 18>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        r_Shift {
            bindings = <&skq LEFT_SHIFT>;
            key-positions = <18 17>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };

        r_Mod {
            bindings = <&skq LEFT_GUI>;
            key-positions = <26 27>;
            timeout-ms = <75>;
            require-prior-idle-ms = <200>;
        };
    };

    behaviors {
        skq: skq {
            compatible = "zmk,behavior-sticky-key";
            label = "SKQ";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
&kp Q  &kp W  &kp F  &kp P          &kp B          &kp J    &kp L       &kp U      &kp Y       &kp SEMICOLON
&kp A  &kp R  &kp S  &kp T          &kp G          &kp M    &kp N       &kp E      &kp I       &kp O
&kp Z  &kp X  &kp C  &kp D          &kp V          &kp K    &kp H       &kp COMMA  &kp PERIOD  &kp FSLH
              &kp A  &kp BACKSPACE  &kp SPACE      &kp RET  &kp DELETE  &kp B
            >;
        };
    };
};
