#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include "definitions.h"

/ {
    keymap {
        compatible = "zmk,keymap";
        default {
            bindings = <
                &kp Q &kp W &kp F    &kp P                      &kp B   &kp J      &kp L &kp U     &kp Y      &kp SEMICOLON
                &kp A &kp R &kp S    &kp T                      &kp G   &kp H      &kp N &kp E     &kp I      &kp O
                &kp Z &kp X &kp C    &kp D                      &kp V   &kp K      &kp H &kp COMMA &kp PERIOD &kp FSLSH
                            &kp A    &kp BACKSPACE &kp SPACE    &kp RET &kp DELETE &kp B
            >;
        };
    }
};
